.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.item img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.alice-carousel {
    margin: 20px 0;
}
